.projects{
background:url('../../../assets/images/simon-lee-hbFKxsIqclc-unsplash.jpg') ;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
.card{
    position: relative;
overflow: hidden;
transition: all 1s;
    opacity: .1;

}

.card:hover{
    opacity: 1;
}




.info{
    position: absolute;
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
transition: all .3s;
}

/* .info::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
transition: all .3s;
} */

.info:hover::before{
    background-color: transparent;
}

.myGrid{
}
 
.info h2{
}
