.about {
  background:url('../../../assets/images/simon-lee-HmHOhR5meGo-unsplash.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

.bg{
    background-color: rgba(255, 255, 255, 0.129);
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.177);
}
.myWheel {
  height: 60vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wheel__tech--left {
  height: 85%;
  width: 10%;
  position: absolute;
  top: 5%;
  left: 0;
}
.wheel__tech {
  height: 85%;
  width: 10%;
  position: absolute;
  top: 5%;
  right: 0;
}

.img__containr {
  rotate: 90deg;
}
.item_name {
  rotate: -90deg;
}
