body {
  scroll-behavior: smooth;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Montserrat Alternates", sans-serif;
}
.main_home {
  background: rgba(0, 0, 0, 0.4);
  background: url("../../../assets/images/simon-lee-HmHOhR5meGo-unsplash.jpg")
    center;
  background-size: cover;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.123);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.navbar {
  background-color: rgba(240, 248, 255, 0.073);
  backdrop-filter: blur(10px);
  
}

.navbar ul{
  width: 100%;
 margin-top: 10rem;
 text-align: center;
}

.navbar ul li{
padding: 10px;
/* background-color: white; */
color: white;
/* width: 100%; */
transition: all .5s ease-in-out;
position: relative;
cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.2rem;
}


.navbar ul li:hover{
background-color: white;
color: black;
}

.blob {
  background: url("./svg/blobanimation.svg");
  height: 20rem;
  width: 20rem;
  position: absolute;
  filter: drop-shadow(2px 5px 10px rgba(255, 255, 255, 0.3));
}

.home {
  background-color: rgba(255, 255, 255, 0.073);
backdrop-filter: blur(10px);

  background-size: cover;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-attachment: fixed;
}
.home__para {
  background-color: rgba(0, 0, 0, 0.234);
  color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px rgba(19, 19, 19, 0.345);
  backdrop-filter: blur(40px);
  border-radius: 5px;
}
.btn {
  background-color: rgba(22, 22, 22, 0.307);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(19, 19, 19, 0.351);

}
#homeSvg {
  filter: drop-shadow(2px 5px 8px rgb(0 0 0 / 0.3));
}
.img__container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(62, 62, 62, 0.036);

  transition: all 0.2s;
}

/* .img__container:hover::before{
  background-color: transparent;

} */

.img__container {
  border: 5px solid rgba(255, 255, 255, 0.193);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.47);
  position: relative;
  transition: all 0.5s;
}

.img__container:hover.img__container::before {
  background-color: transparent;
}

.img__container:hover {
  border: 4px solid transparent;
}


#logo {
  animation: textFill 0.5s ease forwards 0.3s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 459;
  stroke-dashoffset: 459px;
  animation: textAni 7s ease forwards;
  opacity: 0;
}
#logo path:nth-child(2) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200px;
  animation: textAni 8s ease forwards;
  opacity: 0;
}
#logo path:nth-child(3) {
  stroke-dasharray: 212;
  stroke-dashoffset: 212;
  animation: textAni 7s ease forwards 2s;
  opacity: 0;
}
#logo path:nth-child(4) {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: textAni 7s ease forwards 3s;
  opacity: 0;
}
#logo path:nth-child(5) {
  stroke-dasharray: 171;
  stroke-dashoffset: 171;
  animation: textAni 7s ease forwards 4s;
  opacity: 0;
}
#logo path:nth-child(6) {
  stroke-dasharray: 168.8;
  stroke-dashoffset: 168.8px;
  animation: textAni 7s ease forwards 6s;
  opacity: 0;
}
#logo path:nth-child(7) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200px;
  animation: textAni 7s ease forwards 7s;
  opacity: 0;
}
#logo path:nth-child(8) {
  stroke-dasharray: 140;
  stroke-dashoffset: 140px;
  animation: textAni 7s ease forwards 8s;
  opacity: 0;
}
#logo path:nth-child(9) {
  stroke-dasharray: 79;
  stroke-dashoffset: 79px;
  animation: textAni 7s ease forwards 9s;
  opacity: 0;
}

#logo path:nth-child(10) {
  stroke-dasharray: 459;
  stroke-dashoffset: 459px;
  animation: textAni 7s ease forwards 10s;
  opacity: 0;
}

#logo path:nth-child(11) {
  stroke-dasharray: 459;
  stroke-dashoffset: 459px;
  animation: textAni 7s ease forwards 11s;
  opacity: 0;
}
@keyframes textAni {
  to {
    opacity: 1;
    stroke-dashoffset: 0;
    stroke: white;
    
  }
}

@keyframes textFill {
  from {
    fill: transparent;
    /* opacity: 0; */
  }
  to {
    fill: white;
    color: white;
  }
}
